*{
    margin: auto;    
}

p{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

h1{
    background-color:turquoise;
    text-align: center;
}

body{
    background-color: teal;
    text-align: center;
}

#miSuperTitulo{
    font-size: 50px;
    padding: 20px;
}

.hiper{
    margin-left: 20px;
    margin-right: 20px;
}

.imagenesIntro{
    width: 280px;
    margin-top: 20px;
    display: block;
}

a:hover{
    color: chocolate;
    font-size: 20px;
    font-style: italic;
}

img:hover{
    width: 320px;
}