*{
    margin: auto;    
}

p{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

h1{
    background-color:turquoise;
    text-align: center;
}

body{
    background-color: teal;
    text-align: center;
}

#miSuperTitulo{
    font-size: 50px;
    padding: 20px;
}

.hiper{
    margin: 1%;
}

.imagenesIntro{
    width: 280px;
    margin-top: 20px;
    display: block;
    
}

a:hover{
    color: chocolate;
    font-size: 20px;
    font-style: italic;
}

img:hover{
    width: 320px;
}

.texto{
    display: block;
}

.cuadro1{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(97, 163, 35, 0.5);

    margin: 20px;


    font-family: fantasy;
    font-size: 20px;

    position: static;
}
.cuadro2{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(35, 69, 163, 0.5);

    margin: 20px;

    font-family: fantasy;
    font-size: 20px;

    position: relative;
    top: 20px;
    left: 40px;
}
.cuadro3{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(163, 35, 157, 0.5);

    margin: 20px;

    font-family: fantasy;
    font-size: 20px;

    position: fixed;
    bottom: 20px;
    right: 40px;
}

.cuadro4{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(207, 105, 45, 0.5);

    margin: 20px;

    font-family: fantasy;
    font-size: 20px;

    position: absolute;
    top: 40px;
    right: 40px;
}
.flotante{
    width: 180px;
    height: 180px;
    border: black solid 2px;
    padding: 40px;
    background-color: rgba(45, 207, 94, 0.5);

    margin: 20px;

    font-family: fantasy;
    font-size: 20px;

    float: right;
}